

<table class="table table-bordered bg-primary" *ngIf ="Clients.length > 0; else noData">
    <thead>
      <tr class="table-warning">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Revenue</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>


    <tbody>
        <tr *ngFor="let Client of Clients">
          <th scope="row">{{Client.id}}</th>
          <td Class="bg-danger">{{Client.name}}</td>
          <td Class="bg-success"> {{Client.status}}</td>
          <td  Class="bg-warning">{{Client.revenue}}</td>
          <td>{{Client.comments}}</td>
        </tr>
      </tbody>

    </table>

  <div class="">
    <ng-template #noData>
        <div class=""> <p>No clients found</p> </div>
       </ng-template>
  </div>