
:root {
  --app-primary: #651A97;
  --app-primary-dark: #390958;
  --app-secondary: #910835;
  --app-dark: #2A2A2A;
  --app-light: #FFFFFF;
  --app-darklight: #EBEDF2;
  --app-darklight2: #BEBDBD;
  --app-error: #E2445C;
  --app-warning: #F25C05;
  --app-success: #9EBF6B;
}
