<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Lorem Ipsum</h1>
        <p class="col-lg-10 fs-4">employé dans la composition 
            et la mise en page avant impression. Le Lorem Ipsum est 
            le faux texte standard de l'imprimerie depuis les années 1500,
             quand un imprimeur anonyme 
            assembla ensemble des morceaux de texte pour réa</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="bg-primary text-primary px-1 py-1 text-center">
    <div class="py-1">
      <h1 class="display-5 fw-bold text-white">By <span class="" style="color:yellow;">NONO</span></h1>
      <div class="col-lg-6 mx-auto">
        
    </div>
  </div>
  </div>