  <div class="d-flex flex-row gap-2">
    <app-nav-button (nav)="onNav($event)" [routes]="['/','sign-in']" [label]="'Sign In'"></app-nav-button> 
    <app-nav-button (nav)="onNav($event)"  [routes]="['/','sign-up']" [label]="'Sign Up'"></app-nav-button> 
    <app-nav-button (nav)="onNav($event)"  [routes]="['/', 'clients', 'list']" [label]="'clients'"></app-nav-button> 
    <app-nav-button (nav)="onNav($event)"  [routes]="['/', 'orders','list']" [label]="'Orders'"></app-nav-button> 
  
 



    <div class="">
        <button class=" btn btn-dark" (click)="incrementMajor()"> Inc version major</button> 
        <button class=" btn btn-dark" (click)="incrementMinor()"> Inc version minor</button>
        <button class=" btn btn-dark" (click)="incrementPatch()"> Inc version  patch</button>
    </div>

     <!--
      <button (click)="versionService.incrementMajor()">Increment Major</button>
      <button (click)="versionService.incrementMinor()">Increment Minor</button>
      <button (click)="versionService.incrementPatch()">Increment Patch</button>
    
     -->

  </div>
 
  <router-outlet></router-outlet>

   <!--

    <button class="btn btn-outline-primary " [routerLinkActive]="'active'"
     [routerLink]="['/','login', 'sign-in']" >
     Sign In
    </button>

    <button class="btn btn-outline-primary" [routerLinkActive]="'active'"
      [routerLink]="['/', 'login','sign-up']" >
      Sign Up
    </button>

    <button class=" btn btn-outline-primary" [routerLinkActive]="'active'"
    [routerLink]="['/', 'clients', 'list']" >
    list clients 
    </button>

    <button class="btn btn-outline-primary" [routerLinkActive]="'active'"
    [routerLink]="['/', 'orders','list']" >
    list Orders
     </button>

     <button class="btn btn-outline-primary" [routerLinkActive]="'active'"
     [routerLink]="['/', 'login','forgotPassword']" >
     ForgotPassword
      </button>

      <button class="btn btn-outline-primary" [routerLinkActive]="'active'"
      [routerLink]="['/', 'login','resetPassword']" >
      ResetPassword
       </button>
  
  
     <div class="d-flex justify-content-center">
      <button class="col-2 btn btn-outline-primary" [routerLinkActive]="'active'"
       [routerLink]="['/', 'list-clients']" >
      client list
    </button>
    </div>


   -->
  


