
header {
  height: 13rem;
  background-color: var(--app-light);
}

main {
  background-color: var(--app-darklight);
  height: calc(100vh - 15rem);
}

aside {
  background-color: var(--app-darklight2);
}

footer {
  height: 2rem;
  background-color: var(--app-light);
}
