<app-ui [appVersion]="'1.0'">


  <div class="tr-header">

  </div>

  <app-icon-nav class="btn btn-danger big-button tr-show"></app-icon-nav>
  <app-icon-close class="btn btn-danger big-button tr-close"></app-icon-close>

  <div class="texte-special">
    Bienvenue, <span> merci de vous connecter </span> !
  </div>
  <form>
    Identifiant
    <input type="text">
    Mot de passe
    <input type="password">
  </form>
  <button class="btn btn-primary m-5">
    <span class="bi-stars"></span>
    Valider
  </button>

 <ng-container class="tr-footer">
  <app-footer></app-footer>
 </ng-container>
 
</app-ui>





